

.contactForm .loading-animation { background-image:url(../images/skin/contact-loading.gif); }

.epic-fullscreen .ef-overlay { background:url(../images/skin/background-image-overlay-pattern.png) repeat 0 0; }

.epic-slider { background:#111111 url(../images/skin/epic-slider-loading.gif) no-repeat center center; }

.epic-slider #slides li { background-color:#111111; }

.epic-slider #slides li .es-background .es-overlay { background:url(../images/skin/epic-slider-overlay-pattern.png) repeat 0 0; }

.epic-slider #es-play:hover, .epic-slider #es-next:hover, .epic-slider #es-prev:hover, .epic-slider .es-fullscreen:hover, .epic-slider #es-progress-button,
.flex-direction-nav li a:hover {
	background-color:#1b1b1b;
}

h1,h2,h3,h4,h5,h6,#section-title, h1 span,h2 span,h3 span,h4 span,h5 span,h6 span, #section-title span {
	font-family:"Open Sans", sans-serif;
}

h1, h1 span { font-size:30px; line-height:45px; }
h2, h2 span { font-size:40px; line-height:40px; }
h3, h3 span { font-size:35px; line-height:35px; }
h4, h4 span { font-size:30px; line-height:30px; }
h5, h5 span { font-size:25px; line-height:25px; }
h6, h6 span { font-size:20px; line-height:20px; }
#section-title,
#section-title h1, #section-title h1 span,
#section-title h2, #section-title h2 span,
#section-title h3, #section-title h3 span,
#section-title h4, #section-title h4 span,
#section-title h5, #section-title h5 span,
#section-title h6, #section-title h6 span {
	font-size:50px; line-height:20px;
}

#teaser {
	font-family:"Raleway", sans-serif;
	font-size:16px;
	color:white;
	line-height:24px;
}

td{
	padding:10px;background:rgba(255, 255, 255, 0.05);
}


#browser-title {
    height:50px;
    font-weight: 700;
    font-size: 50px;
    padding-top:15px;
    margin-bottom: 50px;
    color: #fff;
    opacity: 0.85;
    background: -webkit-linear-gradient(#fff, #999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#refresh{
	  width:840px;
	  height:25px;
}

a:hover{

	    opacity: 0.45;
}
#serverlist
{
	margin-bottom:0px;
}
#line1 {
	height:1px;
    margin-top:10px;
    margin-bottom:10px;
    color: #fff;
    opacity: 0.85;
    background: -webkit-linear-gradient(#fff, #999);
}
#line2 {
	height:1px;
    margin-top:10px;
    margin-bottom:10px;
    color: #fff;
    opacity: 0.85;
    background: -webkit-linear-gradient(#fff, #999);
}

.display-image .boxed .size-1, .display-image .boxed .size-2, .display-image .boxed .size-3, .display-image .boxed .size-4, .display-image .boxed .size-5, .display-image .boxed .size-6,
.epic-slider .boxed .size-1, .epic-slider .boxed .size-2, .epic-slider .boxed .size-3, .epic-slider .boxed .size-4, .epic-slider .boxed .size-5, .epic-slider .boxed .size-6,
.display-image .elegant .size-1, .display-image .elegant .size-2, .display-image .elegant .size-3, .display-image .elegant .size-4, .display-image .elegant .size-5, .display-image .elegant .size-6,
.epic-slider .elegant .size-1, .epic-slider .elegant .size-2, .epic-slider .elegant .size-3, .epic-slider .elegant .size-4, .epic-slider .elegant .size-5, .epic-slider .elegant .size-6,
.display-image .impact .size-1, .display-image .impact .size-2, .display-image .impact .size-3, .display-image .impact .size-4, .display-image .impact .size-5, .display-image .impact .size-6,
.epic-slider .impact .size-1, .epic-slider .impact .size-2, .epic-slider .impact .size-3, .epic-slider .impact .size-4, .epic-slider .impact .size-5, .epic-slider .impact .size-6,
.display-image .single-border .size-1, .display-image .single-border .size-2, .display-image .single-border .size-3, .display-image .single-border .size-4, .display-image .single-border .size-5, .display-image .single-border .size-6,
.epic-slider .single-border .size-1, .epic-slider .single-border .size-2, .epic-slider .single-border .size-3, .epic-slider .single-border .size-4, .epic-slider .single-border .size-5, .epic-slider .single-border .size-6,
.display-image .striped .size-1, .display-image .striped .size-2, .display-image .striped .size-3, .display-image .striped .size-4, .display-image .striped .size-5, .display-image .striped .size-6,
.epic-slider .striped .size-1, .epic-slider .striped .size-2, .epic-slider .striped .size-3, .epic-slider .striped .size-4, .epic-slider .striped .size-5, .epic-slider .striped .size-6 {
	font-family:"Open Sans", sans-serif;
}

.display-image .boxed .size-1, .epic-slider .boxed .size-1,
.display-image .elegant .size-1, .epic-slider .elegant .size-1,
.display-image .impact .size-1, .epic-slider .impact .size-1,
.display-image .single-border .size-1, .epic-slider .single-border .size-1,
.display-image .striped .size-1, .epic-slider .striped .size-1 {
	font-size:82px; line-height:72px;
}

.display-image .boxed .size-2, .epic-slider .boxed .size-2,
.display-image .elegant .size-2, .epic-slider .elegant .size-2,
.display-image .impact .size-2, .epic-slider .impact .size-2,
.display-image .single-border .size-2, .epic-slider .single-border .size-2,
.display-image .striped .size-2, .epic-slider .striped .size-2 {
	font-size:62px; line-height:62px;
}

.display-image .boxed .size-3, .epic-slider .boxed .size-3,
.display-image .elegant .size-3, .epic-slider .elegant .size-3,
.display-image .impact .size-3, .epic-slider .impact .size-3,
.display-image .single-border .size-3, .epic-slider .single-border .size-3,
.display-image .striped .size-3, .epic-slider .striped .size-3 {
	font-size:52px; line-height:52px;
}

.display-image .boxed .size-4, .epic-slider .boxed .size-4,
.display-image .elegant .size-4, .epic-slider .elegant .size-4,
.display-image .impact .size-4, .epic-slider .impact .size-4,
.display-image .single-border .size-4, .epic-slider .single-border .size-4,
.display-image .striped .size-4, .epic-slider .striped .size-4 {
	font-size:42px; line-height:42px;
}

.display-image .boxed .size-5, .epic-slider .boxed .size-5,
.display-image .elegant .size-5, .epic-slider .elegant .size-5,
.display-image .impact .size-5, .epic-slider .impact .size-5,
.display-image .single-border .size-5, .epic-slider .single-border .size-5,
.display-image .striped .size-5, .epic-slider .striped .size-5 {
	font-size:32px; line-height:32px;
}

.display-image .boxed .size-6, .epic-slider .boxed .size-6,
.display-image .elegant .size-6, .epic-slider .elegant .size-6,
.display-image .impact .size-6, .epic-slider .impact .size-6,
.display-image .single-border .size-6, .epic-slider .single-border .size-6,
.display-image .striped .size-6, .epic-slider .striped .size-6 {
	font-size:22px; line-height:22px;
}

.thumb a .thumb-rollover .thumbInfo { font-family:"Open Sans", sans-serif; font-size:18px; line-height:18px; }

body { background:#000000; color:#777777; }

#content-wrapper section.portfolio, #content-wrapper section.portfolio-fixed-width-grid, #content-wrapper section.portfolio-full-width-grid, 
#content-wrapper section.pages, #content-wrapper section.homepage, #content-wrapper section.latest-posts-grid, #folio-navigation, .pagination.detached {
	margin-bottom:40px;box-shadow:0 0 5px rgba(0, 0, 0, 0.4);background:rgba(24, 24, 24, 0.71);
	
}

h1, h1 span,
h2, h2 span,
h3, h3 span,
h4, h4 span,
h5, h5 span,
h6, h6 span,
#section-title,
#section-title h1, #section-title h1 span,
#section-title h2, #section-title h2 span,
#section-title h3, #section-title h3 span,
#section-title h4, #section-title h4 span,
#section-title h5, #section-title h5 span,
#section-title h6, #section-title h6 span,
.blog-post-content .blog-post-title, .blog-post-content .blog-post-title a,
.blog-post-grid-content .blog-post-title, .blog-post-grid-content .blog-post-title a,
.blog-post-content .blog-post-meta span,
section#comments h2#comments-title, section#comments h3#reply-title {
	color:#fff;
}

#section-title h1:after { background-color:#1b1b1b; }

.blog-post-content .blog-post-title a:hover,
.blog-post-grid-content .blog-post-title a:hover { color:#1b1b1b; }

.sticky .blog-post-title,
.sticky .blog-post-title span,
.sticky .blog-post-title a {
	color:#1b1b1b;
}

.blog-post-content .blog-post-meta { color:#777777; }

a { color:#1b1b1b; }
a:hover { color:#1b1b1b; }

aside.sidebar ul li h4.widget-title, aside.sidebar ul li h4.widget-title span { 
	color:#ffffff;
	background-color:#1b1b1b;
}

aside.sidebar ul li h4.widget-title:after {
	background-color:#1b1b1b;
	border-color:#1b1b1b;
}

aside.sidebar ul li ul li a, .footer-widget a { color:#444444; }
aside.sidebar ul li ul li a:hover, .footer-widget a:hover { color:#1b1b1b; }

#footer-wrapper { }
#footer-wrapper h4.widget-title, #footer-wrapper h4.widget-title span {
	color:#fff;
}
#footer-wrapper { color:#666666;background:rgba(24, 24, 24, 0.71);box-shadow:0 0 5px rgba(0, 0, 0, 0.4); -WEBKIT-USER-SELECT: NONE;-KHTML-USER-SELECT: NONE;-MOZ-USER-SELECT: NONE;-MS-USER-SELECT: NONE;USER-SELECT: NONE;font-size:12px;}
#footer-wrapper .footer-widget a { color:#ffffff; }
#footer-wrapper .footer-widget a:hover { color:#red; }

#footer-wrapper #footer-bottom ul.connect li a { color:#999999; }
#footer-wrapper #footer-bottom ul.connect li a:hover { color:#ffffff; }

#footer-wrapper #footer-top { border-color:#333333; }
#footer-wrapper #footer-top:after { background-color:#666666; }

.footer-copyright-wrapper { border-color:#333333; }
#footer-wrapper .footer-copyright-wrapper a { color:#999;font-size:12px; }
#footer-wrapper .footer-copyright-wrapper a:hover { color:#white; }

.widget_tag_cloud a, .post-tags a { background-color:#e6e6e6; color:#666666; }
.widget_tag_cloud a:hover, .post-tags a:hover { background-color:#1b1b1b; color:#ffffff; }

.widget_calendar #wp-calendar tbody td { background-color:#e6e6e6; color:#666666; }
.widget_calendar #wp-calendar tbody td a { color:#1b1b1b; }
.widget_calendar #wp-calendar tbody td a:hover { color:#1b1b1b; }
.widget_calendar #wp-calendar tbody td:hover { background-color:#1b1b1b; color:#ffffff; }

.sticky .blog-post-content { border-color:#e6e6e6; }
#content-inner-blog-grid #blog-grid-container article.sticky .blog-post-grid-content-inner { border-color:#e6e6e6; }

section#comments ol.comment-list li.depth-1 > div, ol.comment-list li ul.children li { background-color:#f9f9f9; }
section#comments ol.comment-list li.comment .commentary .comment-meta a { color:#777777; }
section#comments ol.comment-list li.comment { border-color:#e6e6e6; }

.blog-post-meta-date { background-color:#1b1b1b; color:#ffffff; }
.sticky .blog-post-meta-date { background-color:#ffffff; color:#1b1b1b; }

::selection { background:#1b1b1b; color:#fff; }
::-moz-selection { background:#1b1b1b; color:#fff; }
::-webkit-selection { background:#1b1b1b; color:#fff; }

#header-wrapper {

}

header nav#primary-nav.fixed-navigation {
	background:rgba(27,27,27,0.9);
}

header nav#primary-nav ul li a { color:#999999; }
header nav#primary-nav ul li a:hover { color:#white; }
header nav#primary-nav ul li.current-menu-item a, header nav#primary-nav ul li.current_page_item a,
header nav#primary-nav ul li.current-menu-ancestor a, header nav#primary-nav ul li.current_page_parent a {
	color:#ffffff;
	
}

header nav#primary-nav ul li ul.sub-menu, header nav#primary-nav ul li ul.children {
	background:#1b1b1b;
	background:rgba(27,27,27,0.9);
}
header nav#primary-nav ul li ul.sub-menu li,header nav#primary-nav ul li ul.children li { border-color:#333333; }
header nav#primary-nav ul li ul.sub-menu li a,header nav#primary-nav ul li ul.children li a { color:#999999; }
header nav#primary-nav ul li ul.sub-menu li a:hover,header nav#primary-nav ul li ul.children li a:hover { color:#1b1b1b; }
header nav#primary-nav ul li ul.sub-menu li.current-menu-item a, header nav#primary-nav ul li ul.children li.current_page_item a { color:#ffffff; }
header nav#primary-nav ul.mobile-navigation li ul.sub-menu li a, header nav#primary-nav ul.mobile-navigation li ul.children li a { color:#999999; }
header nav#primary-nav ul.mobile-navigation li ul.sub-menu li a:hover, header nav#primary-nav ul.mobile-navigation li ul.children li a:hover { color:#1b1b1b; }
header nav#primary-nav ul.mobile-navigation li ul.sub-menu li.current-menu-item a,
header nav#primary-nav ul.mobile-navigation li ul.sub-menu li.current_page_item a { color:#ffffff; }
header nav#primary-nav ul.mobile-navigation li.current-menu-ancestor a, header nav#primary-nav ul.mobile-navigation li.current_page_parent a { color:#ffffff; }
header nav#primary-nav ul.mobile-navigation li.current-menu-ancestor ul.sub-menu li.current-menu-item a, header nav#primary-nav ul.mobile-navigation li.current_page_parent ul.children li.current_page_item a { color:#ffffff; }
header nav#primary-nav ul.mobile-navigation li.current-menu-ancestor a, header nav#primary-nav ul.mobile-navigation li.current_page_parent a { color:#ffffff; }

.blog header nav#primary-nav ul.mobile-navigation li.current-menu-item a, .blog header nav#primary-nav ul.mobile-navigation li.current_page_item a,
.single-post header nav#primary-nav ul.mobile-navigation li.current-menu-ancestor a, .single-post header nav#primary-nav ul.mobile-navigation li.current_page_parent a {
	color:#ffffff;
	border-color:#1b1b1b;
}

.text-field, textarea, .widget_search #searchform input#s {
	background-color:#e6e6e6;
	border-color:#e6e6e6;
	color:#999999;
}
.text-field:hover, textarea:hover, .widget_search #searchform input#s:hover {
	background-color:#e6e6e6;
	border-color:#e6e6e6;
	color:#666666;
}
.text-field:focus, textarea:focus, .widget_search #searchform input#s:focus {
	background-color:#ffffff;
	border-color:#dddddd;
	color:#666666;
}

.submitTheme, #commentform #submit, .blog-post-content .blog-post-read-more, .blog-post-grid-content .blog-post-read-more {
	background-color:#1b1b1b !important;
	color:#ffffff !important;
}

.errorMsg {
	color:#ff2609 !important;
}

.errorOutline {
	border-color:#ff2609 !important;
}

.accordion dt, .tabs .tabs_nav li {
	background-color:#e6e6e6;
}
.accordion dt, .accordion dd, .tabs .tabs_nav li, .tabs .tabs_content {
	border-color:#e6e6e6;
}
.accordion dt.active, .tabs .tabs_nav li.active {
	background-color:#1b1b1b;
	border-color:#1b1b1b;
}
.accordion dt a, .tabs .tabs_nav li a, .accordion dt a:hover, .tabs .tabs_nav li a:hover {
	color:#666666;
}
.accordion dt.active a, .tabs .tabs_nav li.active a, .accordion dt.active a:hover, .tabs .tabs_nav li.active a:hover {
	color:#ffffff;
}
.accordion dd, .tabs .tabs_content {
	background-color:#ffffff;
}

blockquote, blockquote.elegant, blockquote.boxed { border-color:#1b1b1b; }
blockquote, blockquote.elegant, blockquote.boxed, blockquote.overlayed { color:#666666; }
blockquote.boxed-background, blockquote.striped span {
	background-color:#1b1b1b;
	color:#ffffff;
}
blockquote.elegant { background-image:url(../images/skin/blockquote-elegant.png); }
blockquote.overlayed { background-image:url(../images/skin/blockquote-overlayed.png); }

.caption.elegant, .caption.single-border, .caption.impact, .es-caption.elegant, .es-caption.single-border, .es-caption.impact {
	color:#ffffff;
}
.caption .divider, .epic-slider .divider { border-color:#ffffff !important; }
.caption.elegant a, .caption.single-border a, .caption.impact a, .es-caption.elegant a, .es-caption.single-border a, .es-caption.impact a {
	color:#ffffff;
}
.caption.elegant a:hover, .caption.single-border a:hover, .caption.impact a:hover, .es-caption.elegant a:hover, .es-caption.single-border a:hover, .es-caption.impact a:hover {
	color:#1b1b1b;
}
.caption.striped span, .es-caption.striped span {
	background-color:#1b1b1b;
	background-color:rgba(27,27,27,1);
	color:#ffffff;
}
.caption.boxed, .es-caption.boxed {
	background-color:#1b1b1b;
	background-color:rgba(27,27,27,1);
	color:#ffffff;
}
.caption.boxed .divider, .es-caption.boxed .divider { border-color:#ffffff; }
.caption.boxed a, .es-caption.boxed a, .caption.striped a span, .es-caption.striped a span {
	color:#ffffff;
}
.caption.boxed a:hover, .es-caption.boxed a:hover { color:#1b1b1b; }
.caption.striped a:hover span, .es-caption.striped a:hover span { background-color:#1b1b1b; }

.flex-caption {
	background-color:#1b1b1b;
	color:#ffffff;
}
.flex-caption a { color:#ffffff; }
.flex-caption a:hover { color:#1b1b1b; }

@media only screen and (max-width: 767px) {
	.caption { border:1px solid #e6e6e6 !important; background:#ffffff !important; }
	.display-image .caption .size-1,.display-image .caption .size-2,.display-image .caption .size-3,.display-image .caption .size-4,.display-image .caption .size-5,.display-image .caption .size-6 { color:#1b1b1b !important; }
	.display-image .caption p { color:#777777; }
	.caption.elegant a, .caption.single-border a, .caption.impact a {
		color:#1b1b1b;
	}
	.caption.elegant a:hover, .caption.single-border a:hover, .caption.impact a:hover {
		color:#1b1b1b;
	}
	.caption.boxed a, .caption.striped a span {
		color:#1b1b1b;
	}
	.caption.boxed a:hover, .caption.striped a:hover span {
		color:#1b1b1b;
	}
	.caption.striped span, .caption.striped a:hover span {
		background-color:#ffffff;
	}
}

.chart-container ul.chart li div.bar {
	background-color:#1b1b1b;
	color:#ffffff;
}

.chart-container ul.chart li div.bar-track {
	background-color:#e6e6e6;
}

ul.socialSmall li a { background-color:#272727; }

#section-title {}
#section-title:after { background-color:#252525; }

#content-wrapper section.portfolio-below-content .sub-section-title, #content-wrapper section.latest-posts-below-content .sub-section-title,
article.blog-post,
.blog-post-grid-content .blog-post-meta,
aside.sidebar,
aside.sidebar ul li,
.pagination, #content-inner-blog-grid .pagination,
.divider {
	border-color:#e6e6e6 !important;
}

#header-wrapper #header-inner,
#header-wrapper #header-inner.is_tablet .mobileMenuToggle,
header nav#primary-nav ul.mobile-navigation li ul.sub-menu {
	border-color:#333333 !important;
}

@media only screen and (max-width: 959px) {
	header .mobileMenuToggle,
	header nav#primary-nav ul.mobile-navigation li ul.sub-menu,
	header nav ul.menu li ul.sub-menu,header nav#primary-nav .menu ul li ul.children {
		border-color:#333333 !important;
	}
}

aside.sidebar ul li ul li{ border:none !important; }

.pricing_table .pricing_table_col, .pricing_table .pricing_table_col > ul > li {
	border-color:#e6e6e6;
}
.pricing_table .pricing_table_col > ul > li:first-child {
	background-color:#1b1b1b;
	color:#ffffff;
}
.pricing_table .pricing_table_col.featured > ul > li:first-child {
	background-color:#1b1b1b;
	color:#ffffff;
}
.pricing_table .pricing_table_col > ul > li.pricing_table_bg {
	background-color:#ffffff;
	color:#666666;
}
.pricing_table .pricing_table_col > ul > li span.price, .pricing_table .pricing_table_col > ul > li span.price_affix {
	color:#666666;
}
.pricing_table .pricing_table_col > ul > li.pricing_table_bg {
	background:#ffffff;
}
.pricing_table .pricing_table_col {
	background:#f9f9f9;
}
.pricing_table .pricing_table_col > ul > li {
	color:#777777;
}

.pricing_table .pricing_table_col:hover { background-color:#ffffff; }
.pricing_table .pricing_table_col:hover > ul > li:first-child {
	background-color:#1b1b1b;
}

.portfolio-filter-wrapper a { color:#777777; }
.portfolio-filter-wrapper a:hover { color:#1b1b1b; }
.portfolio-filter-wrapper a.active { color:#1b1b1b; }

.pagination a, .wp-link-pages a, .widget_calendar #wp-calendar tfoot #next a, .widget_calendar #wp-calendar tfoot #prev a,
#folio-navigation ul li#closeProject a, #folio-navigation ul li#nextProject a, #folio-navigation ul li#prevProject a {
	color:#777777; border-color:#e6e6e6;
}
.pagination a:hover, .wp-link-pages a:hover, .widget_calendar #wp-calendar tfoot #next a:hover, .widget_calendar #wp-calendar tfoot #prev a:hover,
#folio-navigation ul li#closeProject a:hover, #folio-navigation ul li#nextProject a:hover, #folio-navigation ul li#prevProject a:hover {
	color:#777777; border-color:#777777;
}

.wp-link-pages { color:#777777; }

#fancybox-left-ico:hover, #fancybox-right-ico:hover {
	background-color:#1b1b1b;
}