image: Visual Studio 2017

version: 0.6.0.{build}

skip_tags: true

skip_branch_with_pr: false

environment:
  APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
  _zip: '%APPVEYOR_BUILD_FOLDER%\ElDewrito-%APPVEYOR_BUILD_VERSION%.7z'
  _7z: 7z -t7z -m0=lzma -mx=9 -mfb=64 -md=32m -ms=on a %_zip% -r -x!*.config -x!*.exp -x!*.lib -x!*.pdb

init:
  - git config --global core.autocrlf input

clone_folder: c:\projects\ElDorito

shallow_clone: true

build_script:
- cmd: >-
    "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\15.0\Bin\MSBuild.exe" /nologo /m:2 /p:Configuration="Release" /p:Platform="Win32" /verbosity:minimal /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll" "%APPVEYOR_BUILD_FOLDER%\ElDorito.sln"

before_build:
- cmd: >-
    CD %APPVEYOR_BUILD_FOLDER%

    git clone https://github.com/scooterpsu/medalPack.git .\dist\mods\medals\default

    RM -rf .\dist\mods\medals\default\.git

after_build:
- cmd: >-
    CD %APPVEYOR_BUILD_FOLDER%\dist\
    
    echo D|xcopy /e /y ..\Release\* .\

    appveyor PushArtifact .\mtndew.dll

    %_7z% *

    appveyor PushArtifact %_zip%