version: 0.5.1.{build}
clone_folder: C:\Projects\ElDorito
init:
- cmd: git config --global core.autocrlf input
environment:
  _zip: '%APPVEYOR_BUILD_FOLDER%\ElDewrito-%APPVEYOR_BUILD_VERSION%.7z'
  _7z: 7z -t7z -m0=lzma -mx=9 -mfb=64 -md=32m -ms=on a %_zip% -r -x!*.pdb -x!*.config
  _release: '"C:\Program Files (x86)\MSBuild\12.0\Bin\MSBuild.exe" "ElDorito.vcxproj" /m /verbosity:minimal /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll" /p:Configuration=Release /p:Platform="x86"'
install:
- cmd: >-
    cinst cmake -version 3.2.3 -y

    cmake --version


    CD %APPVEYOR_BUILD_FOLDER%\

    generate_vs2013_sln_files.bat
build_script:
- cmd: >-
    CD %APPVEYOR_BUILD_FOLDER%\build\

    %_release%


    CD %APPVEYOR_BUILD_FOLDER%\build\Release\

    appveyor PushArtifact mtndew.dll


    %_7z% *.dll


    CD %APPVEYOR_BUILD_FOLDER%\

    %_7z% dewrito.json

    CD %APPVEYOR_BUILD_FOLDER%\libs\libwebsockets\bin\

    %_7z% *

    CD %APPVEYOR_BUILD_FOLDER%\libs\teamspeak\bin\

    %_7z% *

    CD %APPVEYOR_BUILD_FOLDER%\artifact_extras\

    %_7z% *

    appveyor PushArtifact %_zip%


    Copy /b "%APPVEYOR_BUILD_FOLDER%\7zsd.sfx" + "%APPVEYOR_BUILD_FOLDER%\7z_Eldewrito_Config.txt" + %_zip% "%APPVEYOR_BUILD_FOLDER%\ElDewrito-Installer.exe"

    appveyor PushArtifact "%APPVEYOR_BUILD_FOLDER%\ElDewrito-Installer.exe"
