html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.console {
    color: white;
    font: 10pt "Consolas", monospace;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.console .box {
    margin: 4px 4px 0 4px;
    padding: 4px;
    border: 2px solid #202020;
    background-color: #404040;
}

.console .box.input .prompt {
    color: #00bfff;
    float: left;
}

.console .box.info {
    color: #c0c0c0;
    flex: 1;
}

.console .box.info .important {
    color: white;
}

.console .box.button {
    color: #c0c0c0;
    min-width: 75px;
    text-align: center;
    margin-left: 0;
}

.console .box.button:hover {
    color: white;
    border-color: #c0c0c0;
}

.console .controls {
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;
}

.console .box.output {
    overflow: auto;
    word-wrap: break-word;
    -webkit-user-select: text;
    flex: 1;
}

.console .box.transparent {
    background-color: rgba(64, 64, 64, 0.9);
}

.console .box::-webkit-scrollbar {
    width: 8px;
}
 
.console .box::-webkit-scrollbar-thumb {
    background: #202020;
    border: 2px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

.console .command-span {
    display: block;
    overflow: hidden;
}

.console #command {
    width: 100%;
    border: 0;
    background: none;
    color: inherit;
    font: inherit;
    outline: none;
    margin: 0;
    padding: 0;
}

.console #command::selection {
    background: #c0c0c0;
}

.console #output-box pre {
    margin: 0;
}

.console #output-box pre::selection {
    background: #c0c0c0;
}

.console #output-box .command-line {
    color: #00bfff;
}

.console #output-box .debug-line {
    color: #af4444;
}