@font-face{font-family:"Conduit ITC";src:url(Conduit-ITC.woff);}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url('images/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font: 24pt "Conduit ITC", sans-serif;
    margin: 0;
}

progress {
    -webkit-appearance: none;
    position: absolute;
    height: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

progress::-webkit-progress-bar {
    background: black;
    opacity: 0.75;
}

progress::-webkit-progress-value {
    background: white;
}

.header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 15vh;
    background-color: black;
    opacity: 0.9;
    border-bottom: 1px solid #7fa4c5;
    display: none;
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15vh;
    background-color: black;
    opacity: 0.9;
    border-top: 1px solid #7fa4c5;
    display: none;
}

.header img{
    position: absolute;
    top: 1.5vh;
    height: 12vh;
    padding: 0;
}

#logo {
    float: left;
    left: 1vw;   
}

#gametypeicon {
    float: right;
    right: 1vw;
}

#gametype, .gamerounds, .gamescore, .timelimit {
    position: absolute;
    right: 16vh;
    float: right;
    text-align: right;
}

#gametype {
    font-size: 4.5vh;
    top: 0.75vh;
    font-weight: 700;
}

.gamerounds {
    font-size: 2.5vh;
    top: 5.25vh;
}

.gamescore {
    font-size: 2.5vh;
    top: 7.85vh;
}

.timelimit {
    font-size: 2.5vh;
    top: 10.5vh;
}

.container {
    position: absolute;
    top: 15vh;
    left: 0;
    width: 100%;
    height: 70vh;
    z-index: -1;
}

.serverName {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50%; 
    transform: translateY(-50%);
    font-size: 3.5vh;
    line-height: 4vh;
    width: 45vw;
    text-align: center;
    max-height:14vh;
    word-wrap:break-word;
    overflow:hidden;
}

.serverMessage {
    position: relative;
    float: left;
    top: 0;
    max-height: 80%;
    max-width: 45%;
    left: 0;
    margin: 5.1vh;
    margin-left: 0;
    font-size: 3.5vh;
    padding: 1.5vw;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

#title {
    position: absolute;
    float: left;
    font-size: 7vh;
    top: 2vh;
    left: 2vw;
}

#desc {
    position: relative;
    top: 3.5vh;
    right: 2vw;
    float: right;
    font-size: 2.5vh;
    text-align: right;
    color: #7fa4c5;
    max-width: 40%;
}


/* Generic Loading Screen */

.generic  {
    display: none;
}

.generic .clouds {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image:
        url(images/cloud_front.png),
        url(images/cloud_back.png);
    background-size: calc(100% + 200px) 55%, calc(100% + 200px) 70%;
    background-position: 100% calc(100% - 50px), 0% calc(100% - 50px);
    background-repeat: no-repeat;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-name: clouds;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.generic .ring {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/ring.png);
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

.generic .stars {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/stars.jpg);
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: repeat;
    animation-duration: 100s;
    animation-delay: 0s;
    animation-name: stars;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.generic .eldorito {
    position: absolute;
    margin: 0;
    bottom: 42%;
    width: 100%;
    height: 15%;
    background-image: url(images/EldoritoLogoFinalSmall.png);
    background-size: auto 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.generic .eldorito.loading {
    background-image: url(images/EldoritoLogoFinalBlueSmall.png);
    -webkit-clip-path: inset(100% 0 0 0);
}

@keyframes stars {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% calc(100% - 100vh);
    }
}

@keyframes clouds {
    0% {
        background-position: 
            100% calc(100% + 50px), 
            0% calc(100% + 50px);
    }
    100% {
        background-position: 
            0% calc(100% + 50px), 
            100% calc(100% + 50px);
    }
}