@font-face{font-family:"Conduit ITC";src:url(dew://lib/Conduit-ITC.woff);}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: "Conduit ITC";
}
.container {
    color: #afbed5;
	margin: 0.1vw;
	width: 20vw;
	border: 2px solid rgba(112, 128, 144, 0.7);

	position: absolute;
	top: 13vh;
	left: 48vw;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.votingOption{
	background-color: rgba(64, 88, 128, 0.75);
}
#title,.revoteOption{
	background-color: rgba(0, 0, 0, 0.53);
}
a.boxclose{
    float:right;
    margin-top:-15px;
    margin-right:-15px;
    cursor:pointer;
    color: #fff;
	border: 3px solid rgba(112, 128, 144, 0.9);
    border-radius: 15px;
	background-color: rgba(19,35,61,0.6);
    font-size: 35px;
    font-weight: 600;
    display: inline-block;
    line-height: 18px;
    text-align: center;    
    height:26px;   
    width: 25px;
    padding-left:1px;
}
a.boxclose:hover
{
	background-color:rgba(199, 109, 41, 0.95);
}

.boxclose:before {
    content: "×";
}
.votingOption
{
	position:relative;
	border-top: 2px solid rgba(112, 128, 144, 0.0);
	border-left: 2px solid rgba(112, 128, 144, 0.0);
	border-right: 2px solid rgba(112, 128, 144, 0.0);
	border-bottom: 2px solid rgba(112, 128, 144, 0.7);

}
#title
{
	color:white;
	border-bottom: 2px solid rgba(112, 128, 144, 0.7);
}
.voteTally
{	   
	position: absolute;
	right: 8.5vw;
	font-size: 4vw;
	margin-top: 1%;
	color: rgba(255, 255, 255, 0.7);
}
.revoteOption .voteTally
{
	right: 2vw;
	color: rgba(255, 255, 255, 0.9);
	font-size: 2.5vw;
	bottom: 0vh;
	margin-top:0%;
}
.revoteOption
{
	padding:2%;	
	
}
.votingOption:hover,.selected
{
	color:white;
	border: 2px solid rgba(255, 255, 255, 0.9);
	background-color:rgba(210, 132, 74, 0.79);
}
.winner
{
	border: 2px solid rgba(0, 255, 0, 1);
}
h5,p{
	font-size: 1.25vw;
	margin: 0;
	padding: .3em;
}
img
{
	width: 85%;
	margin-bottom:1em;
}


h1 {
	margin: 0;
	padding: 0;
}