@font-face{font-family:"Conduit ITC";src:url(Conduit-ITC.woff);}

html {
    cursor: default;    
    overflow: hidden;
}

body {
    margin: 0;
    font-family: "Conduit ITC", sans-serif;
}

.genericLoader .cloudfront {
    position: absolute;
    bottom: -13vh;
    margin: 0;
    height: 65%;
    width: 150%;
    animation-duration: 35s;
    animation-delay: 0s;
    animation-name: cloudfront;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: 1;
}

.genericLoader .cloudback {
    position: absolute;
    bottom: -15vh;
    margin: 0;
    height: 80%;
    width: 150%;
    animation-duration: 35s;
    animation-delay: 0s;
    animation-name: cloudback;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.genericLoader .ring {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/ring.png);
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

.genericLoader .stars {
    position: absolute;
    margin: 0;
    width: 100%;
    animation-duration: 120s;
    animation-delay: 0s;
    animation-name: stars;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.genericLoader .eldorito {
    position: absolute;
    margin: 0;
    bottom: 42%;
    width: 100%;
    height: 15%;
    background-image: url(images/EldoritoLogoFinalSmall.png);
    background-size: auto 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    z-index: 2;
}

@keyframes stars {
    0% {
        transform: translate3d(0,0,0);
    }
    100% {
        transform: translate3d(0%,-100%,0);
    }
}

@keyframes cloudfront {
    0% {
        transform: translate3d(-30%,0,0);            
    }
    100% {
        transform: translate3d(-5%,0,0)
    }
}

@keyframes cloudback {
    0% {
        transform: translate3d(-5%,0,0)
    }
    100% {
        transform: translate3d(-30%,0,0);            
    }
}


.instructionText {
    position: absolute;
    bottom: 12vh;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 4.5vh;
    z-index: 2;
}

.instructionText img{
    position: relative;
    top: 1vh;
    height: 5vh;
}

.title {
    position: absolute;
    bottom: 32%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 10vh;
    z-index: 2;
}

.legend {
    position: absolute;
    width: 20vmax;
    height: 8vmax;
    top: 1vw;
    left: 1vw;
    border: 2px solid white;
    background:rgba(255,255,255, 0.2);
}

.legend img{
    height: 3vmax;
}

#navigate{
    position: absolute;
    top: 0.25vw;
    width: 100%;
    text-align: center;
    font-size: 1.5vmax;
    color: white;
}

#up{
    position: absolute;
    left: 20%;
    top: 25%;
}

#down{
    position: absolute;
    left: 20%;
    top: 55%;  
}

#left{
    position: absolute;
    left: 8%;
    top: 55%;  
}

#right{
    position: absolute;
    left: 32%;
    top: 55%;  
}

#enter{
    position: absolute;
    left: 55%;
    top: 40%;  
}

#esc{
    position: absolute;
    left: 75%;
    top: 40%;  
}